# EditorConfig - https://editorconfig.org

root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Solidity files
[*.sol]
indent_size = 4
max_line_length = 120

# Makefile requires tabs
[Makefile]
indent_style = tab

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML
[*.{yml,yaml}]
indent_size = 2

# JSON
[*.json]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2

# TOML
[*.toml]
indent_size = 2
