# Arbitrum MAINNET
RPC=https://arb1.arbitrum.io/rpc
WALLET_PRIVATE_KEY=your_private_key_here
CHAIN_ID=42161
SWAP_ROUTER_ADDRESS=0x68b3465833fb72A70ecDF485E0e4C7bD8665Fc45
SLIPPAGE_TOLERANCE=5
DEADLINE_IN_MINUTES=30
BITQUERY_TOKEN=your_bitquery_oauth_token_here
